*{
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9fafd;
    color: #333333;
}

.div-container {

    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.bear {
    position: relative;
    width: 300px;
    height: 5500px;
    margin: 0 auto;
}

.bear-head{
    top: 100px;
    width: 300px;
    height: 300px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-color: black;
    border: 2px solid rgb(177, 177, 177);
}




.hat2 {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-image: url(img/pattern2.png);
    border-radius: 50% 50% 20% 20% / 100% 100% 20% 20%;

   
    border: 2px solid rgb(109, 10, 10);;
    border-bottom: 50px solid #f2f1ff; 
}

.circle{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 100%, 98%);
    border-radius: 50%;
    position: absolute;
 
    border: 2px solid rgb(223, 203, 203);
}

.eye{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 70px;

   
}

.eye2{    
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    right: 70px;
}

.pupil-left{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pupil2-left{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pupil-right{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 28px;
}
.pupil2-left2{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 28px;
}

.nose{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #000;
    transform: rotate(180deg);
    position: absolute;
    top: 300px;
    left: 120px;
}

.ear1-left{
    width: 70px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: -35px;
    border: 2px solid rgb(177, 177, 177);
}

.ear1-right{
    width: 70px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    right: -35px;
    border: 2px solid rgb(177, 177, 177);

}
.ear-pink1{
    width: 60px;
    height: 60px;
    background-color: #ebc1c1;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 10px;

}

.ear-pink2{
    width: 60px;
    height: 60px;
    background-color: #ebc1c1;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10px;
}


.belly{
    width: 300px;
    height: 350px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 2px;
    border: 2px solid rgb(182, 175, 175);
}

.foot-left{
    width: 130px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 660px;
    left: 20px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(40deg);    
}

.foot-right{
    width: 130px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 660px;
    left: 150px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(-40deg);  
      

}

.scarf-1{
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 80px;
    background-image: url(img/pattern2.png);
    border-radius: 30% 30% 70% 70% / 60% 60% 40% 40%;

    border: 2px solid rgb(109, 10, 10);
    
}


.scarf-2{
    position: absolute;
    top: 430px;
    left: 60px;
    width: 80px;
    height: 150px;

    border-radius: 30% 30% 70% 70% / 60% 60% 40% 40%;
    background-image: url(img/pattern2.png);
    border: 2px solid rgb(109, 10, 10);
}

.paw-1{
    width: 200px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: -90px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(-55deg); 
}

.paw-2{
    width: 200px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    right: -90px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(55deg); 

}
.paw-1holding{
    width: 200px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 490px;
    left: -60px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(-20deg); 
}

.paw-2holding{
    width: 200px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 490px;
    right: -60px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(20deg); 

}

.cup{
    width: 120px;
    height: 100px;
    background-color: #e9b298;
    border-radius: 20% 20% 80% 80% / 30% 30% 70% 70%;
    position: absolute;
    top: 480px;
    left: 90px;
    border: 2px solid rgb(150, 132, 123);
}

.cup-handle{
    width: 40px;
    height: 60px;
    border: 8px solid #e9b298;
    border-radius: 50%;
    position: absolute;
    top: 490px;
    left: 200px;
    border-color: #8f6353;
}


.hot-coco{
    width: 30px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top: 445px;
    left: 140px;
    background-color: #8f6353;
    transform: rotate(90deg);
}

.marshmallow1{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20%;
    position: absolute;
    top: 490px;
    left: 130px;
    transform: rotate(20deg);
}

.marshmallow2{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20%;
    position: absolute;
    top: 490px;
    left: 160px;
    transform: rotate(-20deg);
}

.marshmallow3{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 20%;
    position: absolute;
    top: 499px;
    left: 150px;

}