*{
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9fafd;
    color: #333333;
}

.div-container {

    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.bear {
    position: relative;
    width: 300px;
    height: 5500px;
    margin: 0 auto;
}

.bear-head{
    top: 100px;
    width: 300px;
    height: 300px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-color: black;
    border: 2px solid rgb(177, 177, 177);
}




.hat2 {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-color: rgb(202, 51, 64);
    border-radius: 50% 50% 20% 20% / 100% 100% 20% 20%;

    border: 2px solid rgb(187, 158, 158);
    border-bottom: 50px solid #f2f1ff; 
}

.circle{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 100%, 95%);
    border-radius: 50%;
    position: absolute;
 
    border: 2px solid rgb(223, 203, 203);
}

.eye{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 70px;

   
}

.eye2{    
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    right: 70px;
}

.pupil-left{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pupil2-left{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pupil-right{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 28px;
}
.pupil2-left2{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 28px;
}

.nose{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #000;
    transform: rotate(180deg);
    position: absolute;
    top: 300px;
    left: 120px;
}

.ear1-left{
    width: 70px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: -35px;
    border: 2px solid rgb(177, 177, 177);
}

.ear1-right{
    width: 70px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    right: -35px;
    border: 2px solid rgb(177, 177, 177);

}
.ear-pink1{
    width: 60px;
    height: 60px;
    background-color: #ebc1c1;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 10px;

}

.ear-pink2{
    width: 60px;
    height: 60px;
    background-color: #ebc1c1;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10px;
}


.belly{
    width: 300px;
    height: 350px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 2px;
    border: 2px solid rgb(182, 175, 175);
}

.foot-left{
    width: 130px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 660px;
    left: 20px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(40deg);    
}

.foot-right{
    width: 130px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 660px;
    left: 150px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(-40deg);  
      

}

.scarf-1{
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
    height: 80px;
    background-color: rgb(202, 51, 64);
    border-radius: 30% 30% 70% 70% / 60% 60% 40% 40%;

    border: 2px solid rgb(151, 1, 1);;
    
}


.scarf-2{
    position: absolute;
    top: 430px;
    left: 60px;
    width: 80px;
    height: 150px;

    border-radius: 30% 30% 70% 70% / 60% 60% 40% 40%;


}

.paw-1{
    width: 200px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: -90px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(-55deg); 
}

.paw-2{
    width: 200px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    right: -90px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(55deg); 

}
.paw-1holding{
    width: 200px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 490px;
    left: -60px;
    border: 2px solid rgb(182, 175, 175);
    transform: rotate(-20deg); 
}