*{
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e9fafd;
    color: #333333;
}

.div-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.bear-head{
    top: 100px;
    width: 300px;
    height: 300px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    border-color: black;
    border: 2px solid rgb(177, 177, 177);
}




.hat2 {
    position: relative;
    top: -250px;
    left: 4.5px;
    width: 300px;
    height: 100px;
    background-color: rgb(202, 51, 64);
    border-radius: 50% 50% 20% 20% / 100% 100% 20% 20%;
    position: relative;
    margin: 0 auto;

    border: 2px solid rgb(187, 158, 158);
    border-bottom: 50px solid #f2f1ff; 
}

.circle{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 100%, 95%);
    border-radius: 50%;
    position: absolute;
 
    border: 2px solid rgb(223, 203, 203);
}

.eye{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 300px;

   
}

.eye2{    
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 430px;
}

.pupil-left{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pupil2-left{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.pupil-right{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 28px;
}
.pupil2-left2{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 28px;
}

.nose{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #000;
    transform: rotate(180deg);
    position: absolute;
    top: 520px;
    left: 365px;
}

.ear1-left{
    width: 70px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 360px;
    left: 200px;
    border: 2px solid rgb(177, 177, 177);
}

.ear1-right{
    width: 70px;
    height: 90px;
    background-color: #dfdfdf;
    border-radius: 50%;
    position: absolute;
    top: 360px;
    right: 200px;
    border: 2px solid rgb(177, 177, 177);
}